:root {
  --icons-color: #f8475f;
  --icons-base-color: #bdbdbd;
  --light-text-color: #ffffff;
  --medium-text-color: #7a7a7a;
  --dark-text-color: #000000;
  --button-color: #000000;
  --card-bg-color: #e6e8ea;
  --news-bg-color: #f2f2f2f2;
  --footer-bg-color: #000000;
  --alert-text-color: #d7182a;
}
